{% extends 'survey/base.html' %}

{% block content %}

<h2>About Consensus Tracker</h2>

<p>Consensus Tracker is a tool for coming to agree on things.</p> 
<p>It was inspired by the observation that while philosophers very often disagree
on particular theory-level claims - for instance, about the truth of
non-naturalist moral realism - there is a lot of consensus on slightly
broader and less philosophically interesting claims, such as whether
there are good arguments for non-naturalist moral realism. The trouble
is that nobody is bothering to formulate these kinds of claims, so broad
areas of philosophical consensus often go unremarked-on. This is an
attempt to crowd-source claims that a particular group (say,
philosophers) tend to agree about. </p>

<p>Submit claims of your own, register your agreement or disagreement with the claims of others, and dismiss claims that are badly-formulated or irrelevant to the field under discussion.</p>

<p>Consensus Tracker runs on Django.</p>

{% endblock %}