{% load staticfiles %}
<html>
<head>
	<title>Consensus Tracker</title>
	<link rel="stylesheet" href="{% static 'css/survey.css' %}">
</head>
<body>
    <div class="page-header">
    	{% if user.is_authenticated %}
		<a href="{% url 'claim_new' %}" class="top-menu">Submit new claim</a>
		<a href="{% url 'django.contrib.auth.views.logout' %}"class="top-menu">Logout</a>
		<span class="top-menu">Logged in as '{{ user.username }}' </span> 
		{% else %}
		<a href="{% url 'django.contrib.auth.views.login' %}" class="top-menu">Login</a>
		<a href="{% url 'register' %}" class="top-menu">Register to vote on claims!</a>
		{% endif %}
        <h1><a href="{% url 'claim_list' type=0 %}">Consensus Tracker</a></h1>
        
        <a href="{% url 'claim_list' type=0 %}" class="categories">All categories</a> &nbsp;
        <a href="{% url 'claim_list' type=1 %}" class="categories">Philosophy</a>
        
        
        <a href = "{% url 'about' %}" class="about">About Consensus Tracker</a>
    </div>
    <div class="content container">
        <div class="row">
            
            {% block content %}
            {% endblock %}
            
        </div>
    </div>
<body>
</html>