{% load staticfiles %}
<html>
<head>
	<title>Consensus Tracker</title>
	<dlink rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<dlink rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'css/survey.css' %}">
</head>
<body>
    <div class="page-header">
    	{% if user.is_authenticated %}
		<a href="{% url 'claim_new' %}" class="top-menu">Submit new claim</a>
		<a href="{% url 'django.contrib.auth.views.logout' %}"class="top-menu">Logout</a>
		<p class="top-menu">Logged in as '{{ user.username }}' </p> 
		{% else %}
		<a href="{% url 'django.contrib.auth.views.login' %}" class="top-menu">Login</a>
		<a href="{% url 'register' %}" class="top-menu">Register</a>
		{% endif %}
        <h1><a href="{% url 'claim_list' type=0 %}">Consensus Tracker</a></h1>
       	<h2><a href="{% url 'claim_list' type=1 %}">Philosophy</a></h2>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
<body>
</html>