{% extends 'survey/base.html' %}

{% block content %}
<div>
	<h1>{{ claim.text }}</h1>
	<p>{{ claim.yeas }} people agree.</p>
	<p>{{ claim.nays }} people disagree.</p>
	<p>{{ claim.upvotes }} people think it's a good claim to consider.</p>
	<p>{{ claim.downvotes }} people think it's a bad claim to consider.</p>
	<p>{% if claim.type %}This is a claim about philosophy. {% endif %}</p>
</div>	
    	{% if user.is_authenticated %}
<div>
    <form method="GET" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        {% if user not in claim.voters.all %}
        <!-- <button type="submit" class="btn" value="Click" name="upvote">Interesting claim.</button> -->
        <button type="submit" class="btn" value="Click" name="downvote">Report this claim.</button>
        {% else %}
        You have judged the question.
        {% endif %}
        {% if user not in claim.answerers.all %}
        <button type="submit" class="btn" value="Click" name="yea">I agree!</button>
        <button type="submit" class="btn" value="Click" name="nay">I disagree!</button>
        {% else %}
        You have answered the question.
        {% endif %}
    </form>
</div>
	{% endif %}
{% endblock %}