{% extends 'survey/base.html' %}

{% block content %}

{% for claim in claims %}
  	<div class ="claim">
       <p><a href="{% url 'claim_detail' pk=claim.pk %}" class="claim">{{ claim.text }} ({{ claim.yeas }} agree, {{ claim.nays }} disagree.)</a></p>
    
        {% if user not in claim.voters.all %}
        <p><a href="{% url 'claim_list' pk=claim.pk vote="upvote"  %}" class="claim">This is a good question!</a></p>
    	<p><a href="{% url 'claim_list' pk=claim.pk vote="downvote"  %}" class="claim">This is a bad question!</a></p>
        {% else %}
        <p>You have judged the question.</p>
        {% endif %}
        {% if user not in claim.answerers.all %}
        
        <p><a href="{% url 'claim_list' pk=claim.pk vote="nay"  %}" class="claim">I disagree!</a></p>  
        <p><a href="{% url 'claim_list' pk=claim.pk vote="yea"  %}" class="claim">I agree!</a></p>
        
        {% else %}
        <p>You have answered the question.</p>
        {% endif %}
       <hr>
    </div>

{% endfor %}

{% endblock %}